@{
    //Layout = "_Template";
    Layout = "_Layout";
    ViewData["Title"] = "Ana Sayfa";
}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
            <li><a asp-action="Products">Ürünler</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a asp-action="LogOff">Çıkış</a></li>
            <li><a href="#">Wellcome @ViewData["LogInUserName"]</a></li>
        </ul>
    </div>
</nav>

