@model TradeSampleProjectWithCore.Models.ViewModelChangePassword

<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#buttonChangePassword").on("click", function () {
    //        $.ajax({
    //            type: "POST",
    //            url: "ChangePassword",
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            data: { },
    //            success: function (data) {
    //                alert(data);
    //            },
    //            failure: function (data) {
    //                alert(data.responseText);
    //            },
    //            error: function (data) {
    //                alert(data.responseText);
    //            }
    //        });
    //    })
    //});
</script>

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <h4>Şifre Değiştir</h4>
    <hr />
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control input-lg" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control input-lg" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewConfirmPassword"></label>
        <input asp-for="NewConfirmPassword" class="form-control input-lg" />
        <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
    </div>
    <div class="text-danger" style="font-weight:bold; padding-bottom:4px;padding-top:4px;">
        @ViewData["Message_ViewModelChangePassword"]
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-success" style="min-width:150px;">Şifreyi Değiştir</button>
    </div>
</form>
