@model TradeSampleProjectWithCore.Models.ViewModelAccountDetail
@{
    Layout = "_Template";
    ViewData["Title"] = "Hesabım";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <section class="table-bordered" style="margin:20px; padding:10px;">
            @Html.Partial("ChangePassword", Model.ChangePassword)
        </section>
        <section class="table-bordered" style="margin:20px;padding:10px;">
            @Html.Partial("SaveAddress", Model.NewAddress)
        </section>
        <section class="table-bordered" style="margin:20px;padding:10px;">
            @Html.Partial("ChangeActiveAddress", Model.AddressList)
        </section>
    </div>
</div>