@model TradeSampleProjectWithCore.Models.ViewModelLogin
@{
    Layout = "_Layout";
    ViewData["Title"] = "Giriş";
}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <section>
            <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Giriş</h4>
                <hr />
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control input-lg" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control input-lg" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control input-lg" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="text-danger" style="font-weight:bold; padding-bottom:4px;padding-top:4px;">
                    @ViewData["Message"]
                </div>
                <div class="form-group">
                    <button type="submit" asp-action="Login" class="btn btn-success btn-lg col-lg-6">Giriş</button>
                    <button type="submit" asp-action="Register" class="btn btn-warning btn-lg col-lg-6">Üye Ol</button>
                </div>
            </form>
        </section>
    </div>
</div>