<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Library/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Library/js/jquery-3.2.1.min.js"></script>
    <script src="~/Library/js/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>@RenderBody()</div>
</body> 
</html>
